@use "../assets/styles/variables" as *;

.borderWrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
  box-sizing: border-box;
  clip-path: polygon(
    0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px
  );
  &::after {
    content: "";
    position: absolute;
    clip-path: polygon(
      0px calc(100% - 4px),
      2px calc(100% - 4px),
      2px calc(100% - 2px),
      4px calc(100% - 2px),
      4px 100%,
      calc(100% - 4px) 100%,
      calc(100% - 4px) calc(100% - 2px),
      calc(100% - 2px) calc(100% - 2px),
      calc(100% - 2px) calc(100% - 4px),
      100% calc(100% - 4px),
      100% 4px,
      calc(100% - 2px) 4px,
      calc(100% - 2px) 2px,
      calc(100% - 4px) 2px,
      calc(100% - 4px) 0px,
      4px 0px,
      4px 2px,
      2px 2px,
      2px 4px,
      0px 4px,
      0px 50%,
      2px 50%,
      2px 4px,
      4px 4px,
      4px 2px,
      calc(100% - 4px) 2px,
      calc(100% - 4px) 4px,
      calc(100% - 2px) 4px,
      calc(100% - 2px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 2px),
      4px calc(100% - 2px),
      4px calc(100% - 4px),
      2px calc(100% - 4px),
      2px 50%,
      0px 50%
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $text-primary;
    pointer-events: none;
  }
  .borderInner {
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
    clip-path: polygon(
      0px 0px,
      0px 0px,
      0px 0px,
      calc(100% - 4px) 0px,
      calc(100% - 2px) 2px,
      calc(100% - 0px) 0px,
      calc(100% - 0px) calc(100% - 0px),
      calc(100% - 2px) calc(100% - -4px),
      calc(100% - 8px) calc(100% - 1px),
      4px calc(100% - 0px),
      2px calc(100% - 4px),
      2px calc(100% - 2px)
        /* 2px 2px,
      4px 4px,
      4px 1px,
      calc(100% - 4px) 1px,
      calc(100% - 4px) 2px,
      calc(100% - 2px) 4px,
      calc(100% - 2px) calc(100% - 2px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 1px),
      4px calc(100% - 1px),
      4px calc(100% - 4px),
      2px calc(100% - 2px) */
    );

    &::after {
      content: "";
      position: absolute;
      clip-path: polygon(
        0px calc(100% - 4px),
        2px calc(100% - 4px),
        2px calc(100% - 2px),
        4px calc(100% - 2px),
        4px 100%,
        calc(100% - 4px) 100%,
        calc(100% - 4px) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 4px),
        100% calc(100% - 4px),
        100% 4px,
        calc(100% - 2px) 4px,
        calc(100% - 2px) 2px,
        calc(100% - 4px) 2px,
        calc(100% - 4px) 0px,
        4px 0px,
        4px 2px,
        2px 2px,
        2px 4px,
        0px 4px,
        0px 50%,
        2px 50%,
        2px 4px,
        4px 4px,
        4px 2px,
        calc(100% - 4px) 2px,
        calc(100% - 4px) 4px,
        calc(100% - 2px) 4px,
        calc(100% - 2px) calc(100% - 4px),
        calc(100% - 4px) calc(100% - 4px),
        calc(100% - 4px) calc(100% - 2px),
        4px calc(100% - 2px),
        4px calc(100% - 4px),
        2px calc(100% - 4px),
        2px 50%,
        0px 50%
      );
      margin: -2px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
    }
  }
}
