@font-face {
    font-family: 'Pixeloid Sans';
    src:
        url('/src/assets/fonts/pixeloid_sans/PixeloidSans.woff2') format('woff2'),
        url('/src/assets/fonts/pixeloid_sans/PixeloidSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixeloid Sans';
    src:
        url('/src/assets/fonts/pixeloid_sans/PixeloidSans-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/pixeloid_sans/PixeloidSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    font-family: 'Pixeloid Sans', sans-serif;
    color: white;
    box-sizing: border-box;
}

button,
input {
    font-family: 'Pixeloid Sans', sans-serif;
}

::placeholder {
    font-family: 'Pixeloid Sans', sans-serif;
}

::-ms-input-placeholder {
    font-family: 'Pixeloid Sans', sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

label {
    font-size: 14px;
}