@use "../assets/styles/variables" as *;

.layout {
  display: flex;
  height: 100vh;
  .sidebar {
    width: 200px;
    background: $sidebar-background;
    padding: 1rem;
    a {
      text-decoration: none;
    }
    ul {
      list-style: none;
      padding: 0%;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        .borderWrapper {
          width: 100%;
          .button {
            width: 100%;
          }
        }
      }
    }
  }
  .main-content {
    flex: 1;
    padding: 2rem;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
  }
}
